{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Match{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for='winner1'>winner1</label>
    <input name='winner1' id='winner1', value="{{ request.form['winner1'] }}" required>
    <label for='winner2'>winner2</label>
    <input name='winner2' id='winner2', value="{{ request.form['winner2'] }}">
    <label for='loser1'>loser1</label>
    <input name='loser1' id='loser1', value="{{ request.form['loser1'] }}" required>
    <label for='loser2'>loser2</label>
    <input name='loser2' id='loser2', value="{{ request.form['loser2'] }}">
    <input type="submit" value="Save">
  </form>
{% endblock %}