{% extends 'base.html' %}

{% block header %
  <h1>{% block title %}New Match{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for='winner1'>Winner 1</label>
    <select name='winner1' id='winner1'>
      {% for user in users %}
        <option value="{{ user['id'] }}">{{ user['username'] }}</option>
      {% endfor %}
    </select>

    <label for='winner2'>Winner 2</label>
    <select name='winner2' id='winner2'>
      <option selected value> -- select an option -- </option>
      {% for user in users %}
        <option value="{{ user['id'] }}">{{ user['username'] }}</option>
      {% endfor %}
    </select>
    
    <label for='loser1'>Loser 1</label>
    <select name='loser1' id='loser1'>
      {% for user in users %}
        <option value="{{ user['id'] }}">{{ user['username'] }}</option>
      {% endfor %}
    </select>

    <label for='loser2'>Loser 2</label>
    <select name='loser2' id='loser2'>
      <option  selected value> -- select an option -- </option>
      {% for user in users %}
        <option value="{{ user['id'] }}">{{ user['username'] }}</option>
      {% endfor %}
    </select>

    <label for='winnerscore'>Winner Score</label>
    <select name='winnerscore' id='winnerscore'>
      {% for score in range(11) %}
        <option value="{{ score }}">{{ score }}</option>
      {% endfor %}
    </select>

    <label for='loserscore'>Loser Score</label>
    <select name='loserscore' id='loserscore'>
      {% for score in range(11) %}
        <option value="{{ score }}">{{ score }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Save">
  </form>
{% endblock %}