{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}All matches{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('match.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for match in matches %}
    <article class="match">
      <header>
        <div>
          <h1>Match {{ match['id'] }}</h1>
          <div class="about">Played on {{ match['played_date'].strftime('%Y-%m-%d') }}</div>
        </div>
      </header>
      <p class="body">Winner: {{ match['winner_1_name'] }}, {{ match['winner_2_name'] }}</p>
      <p class="body">Loser: {{ match['loser_1_name'] }}, {{ match['loser_2_name'] }}</p>
      <p class="body">Score: {{ match['winner_score'] }} - {{ match['loser_score'] }}</p>
    </article>
    {% if not loop.last %}
    <hr>
    {% endif %}
  {% endfor %}
{% endblock %}