{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}
t

{% macro link_user(user) %}
  <p>
    <a href="/user/{{ user.username }}">{{user.username}}</a>
  </p>
{% endmacro %}

{% macro link_match(match, user=None) %}
  <p>
    <a href="/match/{{ match.id }}">Match ID: {{match.id}} - Score {{match.winner_score}}-{{match.loser_score}}</a>
    {% if user %}
    - Elo after match: {{ user.get_match_rating_value(match, 'elo')|round}}
    {% endif %}
  </p>
{% endmacro %}


{% macro link_user_elo(user) %}
    <a href="/user/{{ user.username }}">{{user.username}}</a> - 
      Current Elo: {{user.get_current_elo()|round}}
{% endmacro %}