{% extends "base.html" %}
{% from "_formhelpers.html" import link_user_rating, render_field %}

{% block app_content %} 
  {% if current_user.is_anonymous %}
    <div class="jumbotron">
    <h1>Moneyball</h1>
    <p>
    Using state-of-the-art machine learning techniques, we can reveal what aspects of your performance stand out from the competition. 
    </p>
    <p>
    Leverage your innate talent, fullfill your potential and truely perform at the highest level - with moneyball.
    </p>
    <p>
    Track your progress over time and deep-dive on old results. 
    </p>
    <p>
    Maximize the value of your time by directly measuring TrueSkill&trade;. 
    </p>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Enter your email to be notified when we go live</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

    
  <!-- Testimonial  -->

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-center m-auto">
          <h2>Testimonials</h2>
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>   
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
              <div class="item carousel-item active">
                <div class="img-box"><img src="{{ url_for('static', filename='1.jpg') }}" alt=""></div>
                <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Idac bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet.</p>
                <p class="overview"><b>Paula Wilson</b>, Media Analyst</p>
              </div>
              <div class="item carousel-item">
                <div class="img-box"><img src="{{ url_for('static', filename='2.jpg') }}" alt=""></div>
                <p class="testimonial">Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget nisi a mi suscipit tincidunt. Utmtc tempus dictum risus. Pellentesque viverra sagittis quam at mattis. Suspendisse potenti. Aliquam sit amet gravida nibh, facilisis gravida odio.</p>
                <p class="overview"><b>Antonio Moreno</b>, Web Developer</p>
              </div>
              <div class="item carousel-item">
                <div class="img-box"><img src="{{ url_for('static', filename='3.jpeg') }}" alt=""></div>
                <p class="testimonial">Phasellus vitae suscipit justo. Mauris pharetra feugiat ante id lacinia. Etiam faucibus mauris id tempor egestas. Duis luctus turpis at accumsan tincidunt. Phasellus risus risus, volutpat vel tellus ac, tincidunt fringilla massa. Etiam hendrerit dolor eget rutrum.</p>
                <p class="overview"><b>Michael Holz</b>, Seo Analyst</p>
              </div>
            </div>
            <!-- Carousel controls -->
            <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
              <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    










  {% else %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <d1> {{ render_field(form.sorting)}}  {{ form.submit() }} </d1>
    </form>
    Highest ranking players:
    <ol>
    {% for  u in users %}
      <li>
        {{link_user_rating(u, form.sorting.data)}}
      </li>
    {% endfor %}
    </ol>
  {% endif %}

{% endblock %}