{% extends "base.html" %}
{% from "_formhelpers.html" import link_user_rating, render_field %}

{% block app_content %} 
  {% if current_user.is_anonymous %}

    <div class="jumbotron">
    <h1>Moneyball</h1>
    <p>
    Using state-of-the-art machine learning techniques, we can reveal what aspects of your performance stand out from the competition. 
    </p>

    <p>
    Leverage your innate talent, fullfill your potential and truely perform at the highest level - with moneyball.
    </p>

    <p>
    Track your progress over time and deep-dive on old results. 
    </p>
    <p>
    Maximize the value of your time by directly measuring TrueSkill&trade;. 
    </p>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Enter your email to be notified when we go live</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  {% else %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <d1> {{ render_field(form.sorting)}}  {{ form.submit() }} </d1>
    </form>
    Highest ranking players:
    <ol>
    {% for  u in users %}
      <li>
        {{link_user_rating(u, form.sorting.data)}}
      </li>
    {% endfor %}
    </ol>
  {% endif %}

{% endblock %}