<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% extends "base.html" %}
{% from "_formhelpers.html" import link_match %}

{% block app_content %}
    <h1>User: {{ user.shortname }}</h1>
    Nickname: {{ user.nickname }} <br>
    UserID: {{ user.id }} <br>
    {% if user == current_user %}
    <a href="{{ url_for('route_edit_user') }}">Edit User</a>
    {% endif %}
    <hr>


    <h2>Stats</h2>
    Elo: {{ user.get_current_elo()|round|int }} <br>
    Trueskill: {{ user.get_current_trueskill()[0]|round }} +- {{ user.get_current_trueskill()[1]|round }} <br>
    Goal difference: {{ user.get_current_goal_difference()|round|int }} <br>
    {% set denom = (user.won_matches|length + user.lost_matches|length) %}
    {% if denom == 0 %}
        {% set winrate = "Undefined " %}
    {% else %}
        {% set winrate = (user.won_matches|length / denom * 100)|round %}
    {% endif %}
    Winrate: {{ winrate }} % <br>
    Winstreak: {{ user.get_winstreak()|int }}
{{ b_div|safe }}

{% if matches %}
<h2>Latest matches:</h2>
<h3>Won:</h3>
{% for match in user.won_matches[-10:] %}
    {{ link_match(match, user) }}
{% endfor %}
<h3>Lost:</h3>
{% for match in user.lost_matches[-10:] %}
    {{ link_match(match, user) }}
{% endfor %}
<h3>
<a href="{{ url_for('route_user_all_matches', user_id=user.id) }}">All matches</a>
</h3>

{% endif %}

{% endblock %}
