{% extends "base.html" %}
{% from "_formhelpers.html" import link_user %}

{% block app_content %}
    <h1>Match details</h1>
    <p>Match id: {{ match.id }}<br>
    Importance: {{ match.importance }}<br>
    Game played: {{ moment(match.timestamp).calendar() }}
    </p>
    {% if match.players %}
        <h2>Winning players</h2>
            Approved by winner:
        {% if match.approved_winner %}
            ✔️
        {% else %}
            ❌
        {% endif %}
        {% for p in match.winning_players %}
            {{link_user(p)}}
        {% endfor %}
        <h2>Losing players</h2>
            Approved by loser:
        {% if match.approved_loser %}
            ✔️
        {% else %}
            ❌
        {% endif %}
        {% for p in match.losing_players %}
            {{link_user(p)}}
        {% endfor %}
    {% endif %}

    <h2>Score</h2>
    {{ match.winner_score }} - {{match.loser_score}}

    {% if current_user.can_approve_match(match) %}
    <h2>Approve match?</h2>
    <form action="{{url_for('route_approve_match', match_id=match.id)}}" method='post'>
        <button type="submit" class="btn-link">Click here to approve</button>
    {% endif %}

    <h2>Delete match?</h2>
    <form action="{{url_for('route_delete_match', match_id=match.id)}}" method='post'>
        <button type="submit" class="btn-link">Click here to delete</button>
    </form>
{% endblock %}